.search__results {
    width: 100%;
    padding: 1rem;
}

.search-result {
    align-items: center;
    background: white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    position: relative;
}

.search-result__thumb {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: solid 1px #eee;
    height: 125px;
    margin: 0.2rem 0 0.2rem 0.2rem;
    width: 125px;
    flex-basis: 125px;
    flex-shrink: 0;
}

.search-result__watchers {
    bottom: 0.5rem;
    margin: 0;
    position: absolute;
    right: 1rem;
}

.search-result__watchers--none .search-result__watchers-count {
    display: none;
}

.search-result__watchers--none .search-result__watchers-icon {
    opacity: 0.25;
}

.search-result__watchers-count {
    font-size: 0.8rem;
    margin: 0;
}

.search-result__watchers-icon {
    width: 1.25rem;
}

.search-result.sold .search-result__price {
    background: #00a74e;
}

.search-result__text {
    flex-grow: 1;
    font-size: 1.2rem;
    padding: 2rem;
    text-align: left;
}

.search-result__price {
    background: black;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0.25rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 6rem;
}

.search-result__price-rank {
    background: #00a74e;
    bottom: 0;
    height: 2px;
    position: absolute;
    left: 0;
}

.sold .search-result__price-rank {
    background: black;
}

.search-result__description {
    font-size: 1.2rem;
    margin: 0;
}

@media (min-width: 1000px) {
    .search__results {
        margin: auto;
        padding: auto;
        width: 900px;
    }

    .search-result {
        margin: 1rem 1rem 2rem;
    }

    .search-result__thumb {
        flex-basis: 225px;
        height: 225px;
        margin: 1rem 0 1rem 1rem;
        width: 225px;
    }

    .search-result__text {
        font-size: 2rem;
        padding: 4rem;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .search-result {

    }
}
