.search-result {
    align-items: center;
    background: white;
    border-radius: 5px;
    border-left: solid 10px yellow;
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    max-width: 100%;
    overflow: auto;
}

.search-result.sold {
    border-left-color: green;
}

.search-result__text {
    margin: 0.5em;
    text-align: left;
}

.search-result__price {
    font-weight: bold;
    margin: 0;
}

.search-result__description {
    margin: 0;
}

@media (min-width: 1500px) {
    .search-result {
        width: calc(25% - 2em);
    }
}

@media (min-width: 1000px) and (max-width: 1499px) {
    .search-result {
        width: calc(33% - 2em);
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .search-result {
        width: calc(50% - 2em);
    }   
}

@media (min-width: 768px) {
    .search-result__text {
        margin: 1em;
    }
}