.search {
    display: flex;
    height: 42px;
    margin: auto;
    width: 300px;
}

.search__input {
    appearance: none;
    border: solid 1px #000;
    border-radius: 0;
    border-right: none;
    box-sizing: border-box;
    flex: 2 1 auto;
    height: 100%;
    width: 100%;
}

.search__input:focus,
.search__button:focus {
    outline: none;
}

.search__button {
    border: solid 1px #000;
    border-radius: 0;
    flex: 0 0 auto;
    height: 30px;
    width: 30px;
    padding: 5px;
}

.search__button:nth-of-type(3) {
    border-left: none;
}

.search-result {
    align-items: center;
    background: white;
    border-radius: 5px;
    border-left: solid 10px yellow;
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    max-width: 100%;
    overflow: auto;
}

.search-result.sold {
    border-left-color: green;
}

.search-result__text {
    margin: 0.5em;
    text-align: left;
}

.search-result__price {
    font-weight: bold;
    margin: 0;
}

.search-result__description {
    margin: 0;
}

@media (min-width: 1500px) {
    .search-result {
        width: calc(25% - 2em);
    }
}

@media (min-width: 1000px) and (max-width: 1499px) {
    .search-result {
        width: calc(33% - 2em);
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .search-result {
        width: calc(50% - 2em);
    }   
}

@media (min-width: 768px) {
    .search__results {
        display: flex;
        flex-wrap: wrap;
    }

    .search-result__text {
        margin: 1em;
    }
}

.filter {
    border: solid 1px #000;
    border-top: none;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    padding: 0;
    width: 300px;
}

.filter__option {
    appearance: none;
    background: white;
    border: none;
    border-left: solid 1px #000;
    flex: 1;
    margin: 0;
    padding: 0.5rem;
}

.filter__option:focus {
    outline: none;
}

.filter__option:first-child {
    border-left: none;
}

.filter__option--selected {
    background: #000;
    color: #fff;
}